{% if product-thumbnail %}
  <div class="{% if products_per_row == "2" %}six columns {% cycle 'alpha', 'omega' %}{% elsif products_per_row == "3" %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}three columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle 'even', 'odd' %}">
{% else %}
  <div class="{% if products_per_row == "2" %}eight columns {% cycle 'alpha', 'omega' %}{% elsif products_per_row == "3" %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle 'even', 'odd' %}">
{% endif %}

  {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_image.alt %}
  {% endif %}

  <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
    <div class="relative product_image">
      <img {% if settings.align_height %}style="max-height:{{ settings.collection_height }}px"{% endif %} src="{{ 'loader.gif' | asset_url }}" data-src="{{ product.featured_image | product_img_url: 'large' }}" data-src-retina="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ alt_text | escape }}" />

      {% if settings.quick_shop_enabled %}
        <span data-fancybox-href="#product-{{ product.id }}" class="quick_shop action_button" data-gallery="product-{{ product.id }}-gallery">
          {{ 'collections.general.quick_shop' | t }}
        </span>
      {% endif %}
    </div>

    <div class="info">
      <span class="title">{{ product.title }}</span>
      <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
        {% if product.available %}
          {% if product.price_varies %}
            <small><em>{{ 'products.general.from' | t }}</em></small>
          {% endif %}
          {{ product.price_min | money }}
        {% else %}
          <span class="sold_out">{{ 'products.product.sold_out' | t }} - </span>{{ product.price_min | money }}
        {% endif %}
        {% if product.compare_at_price_max > product.price %}
          <span class="was_price">{{ product.compare_at_price_max | money }}</span>
        {% endif %}
      </span>
    </div>
    {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
      <div class="sale_banner">{{ 'collections.general.sale' | t }}</div>
    {% endif %}
    {% for col in product.collections %}
      {% if col.handle == 'new' %}
        <div class="new_banner">{{ 'collections.general.new' | t }}</div>
      {% endif %}
    {% endfor %}
  </a>
</div>

{% if settings.quick_shop_enabled %}
  <div id="product-{{ product.id }}" class="modal">
    <div class="container section" style="width: inherit">

      <div class="eight columns" style="padding-left: 15px">
        {% include 'product-images' with 'modal' %}
      </div>

      <div class="six columns">
        <h3>{{ product.title }}</h3>

        <p class="modal_price">
          <span class="sold_out">{% if product.available == false %}{{ 'products.product.sold_out' | t }} - {% endif %}</span>
          <span class="current_price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
            {{ product.price | money }}
          </span>
          <span class="was_price">
            {% if product.price < product.compare_at_price_max %}
              {{ product.compare_at_price | money }}
            {% endif %}
          </span>
        </p>

        {% include 'product-notify-me' %}

        {% if settings.product_description_position == "top" %}
          {% if settings.quick_shop_full_description %}
            {{ product.description | split: '<!-- split -->' | first }}
          {% else %}
            <p>
              {{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', ''  }}
            </p>
          {% endif %}
          <p>
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }}">{{ 'collections.general.view_product_details_html' | t }}</a>
          </p>
          <hr />
        {% endif %}

        {% include 'product-form' %}

        {% if settings.product_description_position == "bottom" %}
          <hr />
          {% if settings.quick_shop_full_description %}
            {{ product.description | split: '<!-- split -->' | first }}
          {% else %}
            <p>
              {{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', ''  }}
            </p>
          {% endif %}
          <p>
            <a href="{{ product.url | within: collection }}" class="view_product_info" title="{{ product.title | escape }}">{{ 'collections.general.view_product_details_html' | t }}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
