{% paginate blog.articles by 10 %}

  <div class="sixteen columns clearfix collection_nav">
    <div class="twelve columns alpha">
      <h1 class="collection_title"><a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a></h1>
    </div>

    {% if settings.blog_tags %}
      <div class="four columns section_select omega">
        <select name="tag_filter" id="tag_filter" class="blog_filter">
          <option {% unless current_tags %}selected="selected"{% endunless %} value="{{ blog.url }}">{{ 'blogs.general.view_all' | t }}</option>
          {% for tag in blog.all_tags %}
            <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
  </div>

  {% for article in blog.articles %}
    <div class="sixteen columns article">
      <div class="five columns alpha omega blog_meta">
        <h6>
          {{ article.published_at | date: format: "month_day_year" }}
        </h6>

        {% if article.comments_enabled? %}
          <p>
            <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
          </p>
        {% endif %}

        {% if settings.blog_tags %}
          <p class="meta">
            {% capture tags %}
              {% for tag in article.tags %}
                <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}" class="tag">{{ tag }} &rsaquo;</a>  &nbsp;
              {% endfor %}
            {% endcapture %}
          {{ 'blogs.article.posted_in_html' | t: tags: tags }}
        </p>
        {% endif %}

        <hr />

        {% include "social-buttons" with "article" %}

      </div>

      <div class="ten columns alpha blog_content">
        <h2><a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a></h2>

        {% if article.excerpt != blank %}
          {{ article.excerpt }}
          <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</a>
        {% else %}
          {{ article.content }}
        {% endif %}
      </div>
    </div>
  {% endfor %}

  <div class="sixteen columns">
    {% include 'pagination' %}
  </div>

{% endpaginate %}
